In [2]:
#Import necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# Read the raw dataset
raw_criteo = pd.read_csv('data/raw/criteo-uplift-v2.1.csv')

In [5]:
# Display the first few rows of the dataset
raw_criteo.head()
raw_criteo.describe()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,treatment,conversion,visit,exposure
count,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07,1.397959e+07
mean,1.962030e+01,1.006998e+01,8.446582e+00,4.178923e+00,1.033884e+01,4.028513e+00,-4.155356e+00,5.101765e+00,3.933581e+00,1.602764e+01,5.333396e+00,-1.709672e-01,8.500001e-01,2.916680e-03,4.699200e-02,3.063122e-02
std,5.377464e+00,1.047557e-01,2.993161e-01,1.336645e+00,3.433081e-01,4.310974e-01,4.577914e+00,1.205248e+00,5.665958e-02,7.018975e+00,1.682288e-01,2.283277e-02,3.570713e-01,5.392748e-02,2.116217e-01,1.723164e-01
min,1.261636e+01,1.005965e+01,8.214383e+00,-8.398387e+00,1.028053e+01,-9.011892e+00,-3.142978e+01,4.833815e+00,3.635107e+00,1.319006e+01,5.300375e+00,-1.383941e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.261636e+01,1.005965e+01,8.214383e+00,4.679882e+00,1.028053e+01,4.115453e+00,-6.699321e+00,4.833815e+00,3.910792e+00,1.319006e+01,5.300375e+00,-1.686792e-01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.192341e+01,1.005965e+01,8.214383e+00,4.679882e+00,1.028053e+01,4.115453e+00,-2.411115e+00,4.833815e+00,3.971858e+00,1.319006e+01,5.300375e+00,-1.686792e-01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2.443646e+01,1.005965e+01,8.723335e+00,4.679882e+00,1.028053e+01,4.115453e+00,2.944427e-01,4.833815e+00,3.971858e+00,1.319006e+01,5.300375e+00,-1.686792e-01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2.674526e+01,1.634419e+01,9.051962e+00,4.679882e+00,2.112351e+01,4.115453e+00,2.944427e-01,1.199840e+01,3.971858e+00,7.529502e+01,6.473917e+00,-1.686792e-01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [6]:
# Check data overview
raw_criteo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13979592 entries, 0 to 13979591
Data columns (total 16 columns):
 #   Column      Dtype
---  ------      -----
 0   f0          float64
 1   f1          float64
 2   f2          float64
 3   f3          float64
 4   f4          float64
 5   f5          float64
 6   f6          float64
 7   f7          float64
 8   f8          float64
 9   f9          float64
 10  f10         float64
 11  f11         float64
 12  treatment   int64
 13  conversion  int64
 14  visit       int64
 15  exposure    int64
dtypes: float64(12), int64(4)
memory usage: 1.7 GB

In [7]:
# Dataset shape

raw_criteo.shape

(13979592, 16)

In [8]:
#Check unique values

raw_criteo.nunique().sort_values()

treatment           2
conversion          2
visit               2
exposure            2
f1                 60
f5                132
f11               136
f4                260
f3                552
f9               1594
f6               1645
f8               3743
f10            517372
f7             622143
f2            2051900
f0            2181959
dtype: int64

In [10]:
#Check balance of treatment and control group

raw_criteo['treatment'].value_counts(normalize = True)

#Check balance of features

treatment = raw_criteo[raw_criteo.treatment == 1]
control = raw_criteo[raw_criteo.treatment == 0]

balance = pd.DataFrame({
    'mean_treated': treatment.mean(),
    'mean_control': control.mean(),
    'diff': treatment.mean() - control.mean()
})
balance

            mean_treated  mean_control      diff
f0             19.614755     19.651705 -0.036950
f1             10.070337     10.067935  0.002401
f2              8.446302      8.448173 -0.001872
f3              4.169412      4.232821 -0.063409
f4             10.339245     10.336526  0.002720
f5              4.026602      4.039339 -0.012736
f6             -4.182792     -3.999880 -0.182913
f7              5.105555      5.080284  0.025271
f8              3.933392      3.934652 -0.001260
f9             16.052589     15.886253  0.166336
f10             5.333660      5.331898  0.001762
f11            -0.170985     -0.170868 -0.000117
treatment       1.000000      0.000000  1.000000
conversion      0.003089      0.001938  0.001152
visit           0.048543      0.038201  0.010342
exposure        0.036037      0.000000  0.036037

Everything looks in order! The data is well-cleaned and ready for data analysis!